venv/
.venv/
__pycache__/
.ipynb_checkpoints/
.vscode/
.DS_Store
.env

*.pkl
*.joblib
*.h5

Data/fraud_part1.csv
Data/fraud_part2.csv
Data/creditcard.csv
Data/processed/fraud_clean.csv

model/fraud_predictions.csv
model/fraud_dashboard.csv
model/fraud_model.pkl

!BigQuery_Files/*.csv
!Dashboard/*.png

README.md
requirements.txt